:root {   
    --clr-light: #fff;
    --clr-dark: #555;
    --clr-accent:#000 ;
}


.header{
    margin-top: -15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

img{
    width: 80px;
    object-fit: contain;
}

nav {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
}

.list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.items {
    margin-right: 50px;
    font-size: 0.8em;
    cursor: pointer;
}

.items a{
    text-decoration: none;
    font-weight: 700;
    color: var(--clr-accent);
    font-size: 2vh;
}
.items a:hover{
    color: var(--clr-dark);
}


.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}
@media screen and (max-width: 500px){
    .header{
        margin-top: -15px;
    }
    .list{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #555;
        z-index: 9;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        overflow-x: hidden;
        height: 100%;
        position: fixed;
    }
    .items{
        margin-right: 0px;
    }
    .items a{
        text-decoration: none;
        color: var(--clr-light);
        font-size: 4.5vh;
    }
    .items a:hover{
        color: var(--clr-accent);
    }
    .btn{
        display: inline-block;
        background: transparent;
        border: 0;
        position: relative;
        cursor: pointer;
        z-index: 10;
    }
    .nav-toggle {
        position: fixed;
        color: #968282;
    }
    .search {
        margin-left: auto;
        margin-right: auto;
    }
}