.product{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 300px;
    height: 45vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}
/* 
.product{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 45vh;
    background-color: white;
    border-radius: 20px;

} */

.product img{
    width: max-content;
    height: 25vh;
    /* object-fit: contain; */
    border-radius: 5px;
}

.product p:nth-child(1){
    display: flex;
    align-content: center;
    justify-content: center;
}
.product button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.product button:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}
.product button:hover,
.product button a:hover{
    background-color: #DFDEDF;
    color: grey;
}

.product button a{
    text-decoration: none;
    color: #DFDEDF;
}