.product{
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    /* box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3); */
}

@media screen and (max-width: 500px){
    .product{
        width: 160px;
    }
}

/* 
.product{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    height: 45vh;
    background-color: white;
    border-radius: 20px;

} */
.modal img,
.product img{
    width: 150px;
    height: 80px;
    /* object-fit: contain; */
    border-radius: 2em;
}

.product p:nth-child(1){
    display: flex;
    align-content: center;
    justify-content: center;
}
.modal button,
.product button{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;

    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.modal button:hover,
.modal button a:hover,
.product button:hover{
    background-color: #DFDEDF;
    color: grey;
}


.modal a{
    text-decoration: none;
    color: #DFDEDF;
}

.keep-mounted-modal-title{
    text-align: center;
}

.iconClose{
    color: red;
}

.iconBtn{
  margin-left: 250px;
}